extends /includes/master-docs.pug
block content
	- var currentUrl = 'buttons.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/docs-sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs
							h1 Bootstrap 4 components
							hr
							// Buttons
							h4 Buttons
								small 
									a(href='https://getbootstrap.com/docs/4.1/components/buttons/' target='_blank') (Official docs)
							h5
								| Default buttons
							.panel
								.panel-body
									button.btn.btn-primary(type='button') Primary
									button.btn.btn-secondary(type='button') Secondary
									button.btn.btn-success(type='button') Success
									button.btn.btn-danger(type='button') Danger
									button.btn.btn-warning(type='button') Warning
									button.btn.btn-info(type='button') Info
									button.btn.btn-light(type='button') Light
									button.btn.btn-dark(type='button') Dark
									button.btn.btn-link(type='button') Link
								.panel-footer
									pre
										code.html
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Secondary&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-light&quot;&gt;Light&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-dark&quot;&gt;Dark&lt;/button&gt;
											| 
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;
							h5 Outline Buttons
							.panel
								.panel-body
									button.btn.btn-outline-primary(type='button') Primary
									button.btn.btn-outline-secondary(type='button') Secondary
									button.btn.btn-outline-success(type='button') Success
									button.btn.btn-outline-danger(type='button') Danger
									button.btn.btn-outline-warning(type='button') Warning
									button.btn.btn-outline-info(type='button') Info
									button.btn.btn-outline-light(type='button') Light
									button.btn.btn-outline-dark(type='button') Dark
								.panel-footer
									pre
										code.html
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary&quot;&gt;Primary&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot;&gt;Secondary&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-success&quot;&gt;Success&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-danger&quot;&gt;Danger&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-warning&quot;&gt;Warning&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-info&quot;&gt;Info&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-light&quot;&gt;Light&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-dark&quot;&gt;Dark&lt;/button&gt;
							h5 Block buttons 
								small
									| (Full container width)
							.panel
								.panel-body
									button.btn.btn-primary.btn-lg.btn-block(type='button') Block level button
									button.btn.btn-secondary.btn-lg.btn-block(type='button') Block level button
							.panel-footer
									pre
										code.html
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg btn-block&quot;&gt;Block level button&lt;/button&gt;
											| &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary btn-lg btn-block&quot;&gt;Block level button&lt;/button&gt;
						