extends /includes/master-docs.pug
block content
	- var currentUrl = 'cards.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs.code-no-bs
							h1 Bootstrap 4 components
							hr
							// Cards
							h4 Cards
								small 
									a(href='https://getbootstrap.com/docs/4.1/components/card/' target='_blank') (Official docs)
							.panel
								.panel-body
									.card(style='width: 18rem;')
										img.card-img-top(src='img/286x180.svg', alt='Card image cap')
										.card-body
											h5.card-title Card title
											p.card-text
												| Some quick example text to build on the card title and make up the bulk of the card's content.
											a.btn.btn-primary(href='#') Go somewhere
																		
								.panel-footer
									pre
										code.html
											| &lt;div class=&quot;card&quot; style=&quot;width: 18rem;&quot;&gt;
											|   &lt;img class=&quot;card-img-top&quot; src=&quot;.../100px180/&quot; alt=&quot;Card image cap&quot;&gt;
											|   &lt;div class=&quot;card-body&quot;&gt;
											|     &lt;h5 class=&quot;card-title&quot;&gt;Card title&lt;/h5&gt;
											|     &lt;p class=&quot;card-text&quot;&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
											|     &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Go somewhere&lt;/a&gt;
											|   &lt;/div&gt;
											| &lt;/div&gt;

							h4 Header and footer
							p Add an optional header and/or footer within a card.
							.panel
								.panel-body
									.card
										.card-header
											| Featured
										.card-body
											h5.card-title Special title treatment
											p.card-text With supporting text below as a natural lead-in to additional content.
											a.btn.btn-primary(href='#') Go somewhere																		
								.panel-footer
									pre
										code.html
											| &lt;div class=&quot;card&quot;&gt;
											|   &lt;div class=&quot;card-header&quot;&gt;
											|     Featured
											|   &lt;/div&gt;
											|   &lt;div class=&quot;card-body&quot;&gt;
											|     &lt;h5 class=&quot;card-title&quot;&gt;Special title treatment&lt;/h5&gt;
											|     &lt;p class=&quot;card-text&quot;&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
											|     &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Go somewhere&lt;/a&gt;
											|   &lt;/div&gt;
											| &lt;/div&gt;