extends /includes/master-docs.pug
block content
	- var currentUrl = 'docs.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/docs-sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs
							h1 
								i.fas.fa-book 
								| Theme docs
							p
								| Thanks for use <b>"Tellme Something"</b> theme !
							p
								| "Tellme Something" is a lightweight responsive theme. Its mean to be fast, with a few plugins and a clean code.
							hr
							h5 Simple installation
							p
								| Just copy the content of de DIST folder into your your project and use it.
							h5 Advanced installation
							
							p
								| <b>Install NPM</b> <br>
								| $ npm install <br>
								| If you are in a Linux distribution you need to inlude sudo permissions.<br>
								| $ sudo npm install 
							
							p
								| <b>Gulp</b> <br>
								| To compile sass and pug assets run gulp. <br>
								| $ gulp
							