extends /includes/master-docs.pug
block content
	- var currentUrl = 'forms.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/docs-sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs.code-no-bs
							h1 Bootstrap 4 components
							hr
							// Forms
							h4 Form
								small 
									a(href='https://getbootstrap.com/docs/4.1/components/forms/' target='_blank') (Official docs)
							.panel
								.panel-body
									form
										.form-row
											.form-group.col-md-6
												label(for='inputEmail4') Email
												input#inputEmail4.form-control(type='email', placeholder='Email')
											.form-group.col-md-6
												label(for='inputPassword4') Password
												input#inputPassword4.form-control(type='password', placeholder='Password')
										.form-group
											label(for='inputAddress') Address
											input#inputAddress.form-control(type='text', placeholder='1234 Main St')
										.form-group
											label(for='inputAddress2') Address 2
											input#inputAddress2.form-control(type='text', placeholder='Apartment, studio, or floor')
										.form-row
											.form-group.col-md-6
												label(for='inputCity') City
												input#inputCity.form-control(type='text')
											.form-group.col-md-4
												label(for='inputState') State
												select#inputState.form-control
													option(selected='') Choose...
													option ...
											.form-group.col-md-2
												label(for='inputZip') Zip
												input#inputZip.form-control(type='text')
										.form-group
											.form-check
												input#gridCheck.form-check-input(type='checkbox')
												label.form-check-label(for='gridCheck')
													| Check me out
										.form-group
											label(for='exampleFormControlTextarea1') Example textarea
											textarea#exampleFormControlTextarea1.form-control(rows='3')
										.form-group
											label(for='exampleFormControlSelect1') Example select
											select#exampleFormControlSelect1.form-control
												option 1
												option 2
												option 3
												option 4
												option 5
										button.btn.btn-primary(type='submit') Sign in
		
								.panel-footer
									pre
										code.html
											| &lt;form&gt;
											|   &lt;div class=&quot;form-row&quot;&gt;
											|     &lt;div class=&quot;form-group col-md-6&quot;&gt;
											|       &lt;label for=&quot;inputEmail4&quot;&gt;Email&lt;/label&gt;
											|       &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;inputEmail4&quot; placeholder=&quot;Email&quot;&gt;
											|     &lt;/div&gt;
											|     &lt;div class=&quot;form-group col-md-6&quot;&gt;
											|       &lt;label for=&quot;inputPassword4&quot;&gt;Password&lt;/label&gt;
											|       &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword4&quot; placeholder=&quot;Password&quot;&gt;
											|     &lt;/div&gt;
											|   &lt;/div&gt;
											|   &lt;div class=&quot;form-group&quot;&gt;
											|     &lt;label for=&quot;inputAddress&quot;&gt;Address&lt;/label&gt;
											|     &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputAddress&quot; placeholder=&quot;1234 Main St&quot;&gt;
											|   &lt;/div&gt;
											|   &lt;div class=&quot;form-group&quot;&gt;
											|     &lt;label for=&quot;inputAddress2&quot;&gt;Address 2&lt;/label&gt;
											|     &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputAddress2&quot; placeholder=&quot;Apartment, studio, or floor&quot;&gt;
											|   &lt;/div&gt;
											|   &lt;div class=&quot;form-row&quot;&gt;
											|     &lt;div class=&quot;form-group col-md-6&quot;&gt;
											|       &lt;label for=&quot;inputCity&quot;&gt;City&lt;/label&gt;
											|       &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputCity&quot;&gt;
											|     &lt;/div&gt;
											|     &lt;div class=&quot;form-group col-md-4&quot;&gt;
											|       &lt;label for=&quot;inputState&quot;&gt;State&lt;/label&gt;
											|       &lt;select id=&quot;inputState&quot; class=&quot;form-control&quot;&gt;
											|         &lt;option selected&gt;Choose...&lt;/option&gt;
											|         &lt;option&gt;...&lt;/option&gt;
											|       &lt;/select&gt;
											|     &lt;/div&gt;
											|     &lt;div class=&quot;form-group col-md-2&quot;&gt;
											|       &lt;label for=&quot;inputZip&quot;&gt;Zip&lt;/label&gt;
											|       &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputZip&quot;&gt;
											|     &lt;/div&gt;
											|   &lt;/div&gt;
											|   &lt;div class=&quot;form-group&quot;&gt;
											|     &lt;div class=&quot;form-check&quot;&gt;
											|       &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;gridCheck&quot;&gt;
											|       &lt;label class=&quot;form-check-label&quot; for=&quot;gridCheck&quot;&gt;
											|         Check me out
											|       &lt;/label&gt;
											|     &lt;/div&gt;
											|   &lt;/div&gt;
											| 
											| &lt;div class=&quot;form-group&quot;&gt;
											|     &lt;label for=&quot;exampleFormControlTextarea1&quot;&gt;Example textarea&lt;/label&gt;
											|     &lt;textarea class=&quot;form-control&quot; id=&quot;exampleFormControlTextarea1&quot; rows=&quot;3&quot;&gt;&lt;/textarea&gt;
											|   &lt;/div&gt;
											| 
											|  &lt;div class=&quot;form-group&quot;&gt;
											|     &lt;label for=&quot;exampleFormControlSelect1&quot;&gt;Example select&lt;/label&gt;
											|     &lt;select class=&quot;form-control&quot; id=&quot;exampleFormControlSelect1&quot;&gt;
											|       &lt;option&gt;1&lt;/option&gt;
											|       &lt;option&gt;2&lt;/option&gt;
											|       &lt;option&gt;3&lt;/option&gt;
											|       &lt;option&gt;4&lt;/option&gt;
											|       &lt;option&gt;5&lt;/option&gt;
											|     &lt;/select&gt;
											|   &lt;/div&gt;
											| &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Sign in&lt;/button&gt;
											| &lt;/form&gt;
								br
								h4 File Uploading
									small 
								.panel-body
									.custom-file
										input#customFileLang.custom-file-input(type='file', lang='es')
										label.custom-file-label(for='customFileLang') Seleccionar Archivo

								.panel-footer
									pre
										code.html
											| &lt;div class=&quot;custom-file&quot;&gt;
											|   &lt;input type=&quot;file&quot; class=&quot;custom-file-input&quot; id=&quot;customFileLang&quot; lang=&quot;es&quot;&gt;
											|   &lt;label class=&quot;custom-file-label&quot; for=&quot;customFileLang&quot;&gt;Seleccionar Archivo&lt;/label&gt;
											| &lt;/div&gt;
								br
								h4 Custom checkbox
								.panel-body
									.custom-control.custom-checkbox
										input#customCheck1.custom-control-input(type='checkbox')
										label.custom-control-label(for='customCheck1') Check this custom checkbox

								.panel-footer
									pre
										code.html
											| &lt;div class=&quot;custom-control custom-checkbox&quot;&gt;
											|   &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customCheck1&quot;&gt;
											|   &lt;label class=&quot;custom-control-label&quot; for=&quot;customCheck1&quot;&gt;Check this custom checkbox&lt;/label&gt;
											| &lt;/div&gt;
								br
								h4 Custom radio
								.panel-body
									.custom-control.custom-radio
										input#customRadio1.custom-control-input(type='radio', name='customRadio')
										label.custom-control-label(for='customRadio1') Toggle this custom radio
									.custom-control.custom-radio
										input#customRadio2.custom-control-input(type='radio', name='customRadio')
										label.custom-control-label(for='customRadio2') Or toggle this other custom radio

								.panel-footer
									pre
										code.html
											| &lt;div class=&quot;custom-control custom-radio&quot;&gt;
											|   &lt;input type=&quot;radio&quot; id=&quot;customRadio1&quot; name=&quot;customRadio&quot; class=&quot;custom-control-input&quot;&gt;
											|   &lt;label class=&quot;custom-control-label&quot; for=&quot;customRadio1&quot;&gt;Toggle this custom radio&lt;/label&gt;
											| &lt;/div&gt;
											| &lt;div class=&quot;custom-control custom-radio&quot;&gt;
											|  	&lt;input type=&quot;radio&quot; id=&quot;customRadio2&quot; name=&quot;customRadio&quot; class=&quot;custom-control-input&quot;&gt;
											|   &lt;label class=&quot;custom-control-label&quot; for=&quot;customRadio2&quot;&gt;Or toggle this other custom radio&lt;/label&gt;
											| &lt;/div&gt;
								br
								h4 Input Groups
								.panel-body
									.col-md-6
										form.input-group
											input.form-control.line-input(type='text' placeholder='Enter Email Address' aria-label='Enter Email Address')
											.input-group-append
												button.input-group-text(type='submit') Subscribe
								.panel-footer
									pre
										code.html
											| &lt;form class=&quot;input-group&quot;&gt;
											|  &lt;input class=&quot;form-control line-input&quot; type=&quot;text&quot; placeholder=&quot;Enter Email Address&quot; aria-label=&quot;Enter Email Address&quot;&gt;
											|   &lt;div class=&quot;input-group-append&quot;&gt;
											|    &lt;button class=&quot;input-group-text&quot; type=&quot;submit&quot;&gt;Subscribe&lt;/button&gt;
											|   &lt;/div&gt;
											|&lt;/form&gt;


