extends /master.pug
block content
	- var currentUrl = 'bootstrap-components.html'
	section
		.container
			.row
				.col-md-12
					.row
						.col-lg-3.col-md-4.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../bootstrap-components/sidebar.pug
						.col-lg-9.col-md-8.push-lg-3.push-md-4.theme-docs-wrapper
							h1 Bootstrap 4 components
							hr