extends includes/master-demo.pug
block content
	.main-content
		// ==================
		//    PAGE CONTENT   
		// ==================
		// Bootstrap Carousel

		#carousel-home.carousel.slide.carousel-fade.carousel-full(data-ride="carousel")
			.carousel-inner
				.carousel-item.active
					img.d-block(src="img/slider1.jpeg" alt="First slide")
					.carousel-content
						.row
							.col-md-12.text
								.big-title THIS IS MY JOURNEY
								p.thin Nobis dolore officia esse natus dolorem eius perferendis ut expedita quibusdam debitis, aliquid corrupti repudiandae rem voluptates molestiae cumque officiis quas accusamus. 
								button.btn.btn-primary Read Me 
								button.btn.btn-outline-light Contact Me 
				.carousel-item
					img.d-block(src="img/slider2.jpeg" alt="First slide")
					.carousel-content
						.row
							.col-md-12.text
								.big-title TRAVELLING THROUGH THE WORLD
								p.thin Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quidem pariatur harum incidunt repellendus. Facere error dolore porro sunt est provident ratione, quisquam nihil voluptates quis consequuntur dicta at voluptatem.
								button.btn.btn-primary Read Me 
								button.btn.btn-outline-light Contact Me 
			// Carousel Navigation
			a.carousel-control-prev(href="#carousel-home" role="button" data-slide="prev")
				.carousel-control-prev-icon(aria-hidden="true")
				.sr-only Previous
			a.carousel-control-next(href="#carousel-home" role="button" data-slide="next")
				.carousel-control-next-icon(aria-hidden="true")
				.sr-only Next



		// Main Blog
		section.blog-main
			.container
				.row.inner.wow.fadeIn(data-wow-duration="2s")
					.col-xs-12.col-sm-12.col-md-8
						.blog-list
							.blog-item
								.image
									img.img-fluid(src="img/blog-post-3.jpg" alt="Blog Post")
								.content
									h1 THIS IS A POST
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas vero aperiam mollitia voluptatibus, accusamus tempora ad voluptatem minus ullam eaque beatae natus deserunt assumenda debitis, perspiciatis, praesentium ipsa nihil!
									a(href="#") Read more...
									.share
										ul
											li
												span Share
											li 
												a
													i.fab.fa-facebook
											li
												a
													i.fab.fa-instagram
											li
												a
													i.fab.fa-google-plus-square
											li
												a
													i.fab.fa-twitter-square
											
							.blog-item
								.image
									img.img-fluid(src="img/blog-post-1.jpg" alt="Blog Post")
								.content
									h1 THIS IS ANOTHER A POST
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas vero aperiam mollitia voluptatibus, accusamus tempora ad voluptatem minus ullam eaque beatae natus deserunt assumenda debitis, perspiciatis, praesentium ipsa nihil!
									a(href="#") Read more...
									.share
										ul
											li 
												span Share
											li 
												a
													i.fab.fa-facebook
											li
												a
													i.fab.fa-instagram
											li
												a
													i.fab.fa-google-plus-square
											li
												a
													i.fab.fa-twitter-square
							.blog-item
								.image
									img.img-fluid(src="img/blog-post-4.jpg" alt="Blog Post")
								.content
									h1 THIS IS ANOTHER A POST
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas vero aperiam mollitia voluptatibus, accusamus tempora ad voluptatem minus ullam eaque beatae natus deserunt assumenda debitis, perspiciatis, praesentium ipsa nihil!
									a(href="#") Read more...
									.share
										ul
											li 
												span Share
											li 
												a
													i.fab.fa-facebook
											li
												a
													i.fab.fa-instagram
											li
												a
													i.fab.fa-google-plus-square
											li
												a
													i.fab.fa-twitter-square
					.col-xs-12.col-sm-12.col-md-4
						include includes/sidebar

		// Featured Posts
		section.color-section-2
			.container
				.row-centered
					h1 FEATURED POSTS
					.carousel-multiple.owl-carousel.blog-featured-posts
						- var multicarousel = [['img/previous-post-1.jpg', 'THIS IS MY JOURNEY', 'libero ex dapibus diam expound the actual teachings of the great explorer'],['img/previous-post-2.jpg', 'DIARY OF A TRAVEL', 'libero ex dapibus diam expound the actual teachings of the great explorer'],['img/previous-post-3.jpg', 'SHANGAI', 'libero ex dapibus diam expound the actual teachings of the great explorer'],['img/previous-post-4.jpg', 'THE MOUNTAINS', 'libero ex dapibus diam expound the actual teachings of the great explorer']]
						each multicdata in multicarousel
							.item
								img(src=multicdata[0] alt='Carousel Item')
								.content
									h4 #{multicdata[1]}
									p #{multicdata[2]}
									a(href="#") Read more...



		// Contact Section
		a.anchor#Contact
		section.contact-section.contact-widgets
			.container
				.row
					.col-md-4.column
						h3 CONTACT ME
						hr
						form(method='POST')#contact-form.main-form
							.form-group
								input.form-control(name='email' type='email' placeholder='Your E-mail')
							.form-group
								textarea#exampleFormControlTextarea1.form-control(name='message' rows='3' placeholder='Leave us a message')
								small.form-text.text-muted I&apos;ll never share your data.
							button#submit-btn.btn.btn-secondary(type='submit') Submit
						#form-thanks.form-response
							i.fas.fa-check.success
							p
								| Thank you for contacting us <br> We will get back to you soon!

						#form-error.form-response
							i.fas.fa-times.error
							p
								| An error has occurred, please contact support.
					.col-md-4.column
						h3 RECENT POSTS
						hr
						.widget-recent-post
							.item
								h5
									a(href="#") How to write something.
									p 25 january 2018
							.item
								h5
									a(href="#") Traveling with my partner.
									p 15 february 2018
							.item
								h5
									a(href="#") Where to go?.
									p 10 december 2018
					.col-md-4.column
						h3 SUBSCRIBE
						hr
						form(method='POST')#contact-form.main-form
							.form-group
								input.form-control(name='email' type='email' placeholder='Enter your e-mail')
								button.btn.btn-secondary.btn-block Subscribe !
						